.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
**/__pycache__/*
test/results.xml
test/gate_level_netlist.v
**.vscode/*
**.vscode/settings.json
*.xml
**/sim_build/*
*.pyc
*.vvp
.vscode/settings.json
.vscode/settings.json
*_preview.png
*_render.png
*_preview.svg